[submodule "Puzzle"]
	path = Puzzle
	url = https://github.com/RABrL/Puzzle
[submodule "Manipulacion-del-DOM"]
	path = Manipulacion-del-DOM
	url = https://github.com/RABrL/Manipulacion-del-DOM
[submodule "Carrito-de-compras"]
	path = Carrito-de-compras
	url = https://github.com/RABrL/Carrito-de-Compras
