[submodule "Puzzle"]
	path = Puzzle
	url = https://github.com/RABrL/Puzzle
[submodule "Manipulacion-del-DOM"]
	path = Manipulacion-del-DOM
	url = https://github.com/RABrL/Manipulacion-del-DOM
[submodule "Carrito-de-compras"]
	path = Carrito-de-compras
	url = https://github.com/RABrL/Carrito-de-Compras
[submodule "Envio-de-emails"]
	path = Envio-de-emails
	url = https://github.com/RABrL/Envio-de-emails
[submodule "Buscador-de-autos"]
	path = Buscador-de-autos
	url = https://github.com/RABrL/Buscador-de-autos
[submodule "To-do-list"]
	path = To-do-list
	url = https://github.com/RABrL/To-do-List
[submodule "Somos-Cat"]
	path = Somos-Cat
	url = https://github.com/RABrL/Somos-Cat
